{{ define "footer" }}
    <footer class="py-5 px-5">
        <div class="container">
            <p>
                &copy; 2018 Google Inc
                <span class="text-muted">
                    <a href="https://github.com/GoogleCloudPlatform/microservices-demo/">(Source Code)</a>
                </span>
            </p>
            <p>
                <small class="text-muted">
                    This website is hosted for study purposes only. It is not an
                    actual shop. This is not an official Google project. Otus.
                </small>
            </p>
            <small class="text-muted">
                {{ if $.session_id }}session-id: {{ $.session_id }}</br>{{end}}
                {{ if $.request_id }}request-id: {{ $.request_id }}</br>{{end}}
            </small>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
{{ end }}
