---

{% for service in services%}
build_{{ service }}:
  extends: .build_docker_template
  variables:
    ARTIFACT: ${CI_REGISTRY}/${CI_REGISTRY_USER}/{{ service }}
    ARTIFACT_SRC_DIR: ./src/{{ service }}

{% endfor %}
